@font-face {
    font-family: "mafont";
    src: url("fonts/Raleway-VariableFont_wght.ttf");
}

body{
    font-family: "mafont";
    margin: 0;
}

        /*Header*/

header{
    display: flex;
    margin-left: 32px;
}

#logo{
    width: 100%;
}

nav{
    width: 30%;
    display: flex;

}

.menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul{
    list-style: none;
}

.color:hover{
    color: #0065FC;
    border-top: #0065FC 1px solid;
}

a{
    text-decoration: none;
    color: black;
}

.link{
    color: #0065FC;
    font-weight: bold;
}

h3{
    font-weight: bold;
}

.search{
    display: flex;
    margin-left: 32px;
}

.gps{
    background-color: #F2F2F2;
    padding: 11px;
    border-radius:10px 0 0 10px;
}

input{
    border-left: none;
    border-right: none;
    border-color: #F2F2F2;
    border-style: solid;
}

input:focus {
    outline: none;
    }

.recherche{
    background-color: #0065FC;
    color: white;
    border-radius: 0 12px 12px 0;
    border-style: solid;
    border-color: #0065FC;
}

#filtre{
 margin-top: 20px;
 font-weight: bold;
 margin-left: 32px;
}

.btn{
    color:#0065FC ;
    position: absolute;
    background-color: #DEEBFF;
    padding: 16px;
    border-radius: 25px;
    left: -5px;
    top: -2px;
}

.filtre{
    position: relative;
    background-color: white;
    height: 45px;
    border-radius: 20px;
    font-weight: bold;
    border-color:#F2F2F2;
    border-style: solid;
    margin: 9px;
    padding-left: 45px;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.filtre:hover{
    background-color: #0065FC;
    opacity: .5;
}

.resume{
    margin-left: 32px;
}

.location{
    margin-left: 32px;
    display: flex;
    margin-bottom: 30px;
}

.info{
    border-style: solid;
    border-radius: 21px;
    border-color: #F2F2F2;
    padding: 8px 14px;
}

.txt{
    margin: 10px;
}

.style{
    color: #0065FC ;
}


        /* Hébergements*/

#article{
    display: flex;
    justify-content: space-between;
}

.logement{
    background-color: #F2F2F2;
    padding: 25px 10px 25px 10px;
    border-radius: 15px;
    margin-left: 3%;
}

.note{
    font-size: 9px;
    color:#0065FC ;
}

.ombre{
    box-shadow: 1px 1px 6px;
}

h2{
    margin-left: 33px;
}

        /*Section hébergements*/

.hotel{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.forme{
    width: 200px;
    background-color:white;
    height: 150px;
    border-radius: 10px;
    position: relative;
    padding: 7px;
    margin-bottom: 20px;
}

.forme .description{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 94%;
    height: 35%;
}

.description h3{
    margin: 0;
    font-size: 15px;
    padding-top: 5px;
}

.forme img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.forme .description p{
    margin: 3px 0;
    font-size: 12px;
}

        /*Aside*/

aside{
    margin-left: 44px;
    width: 45%;
    margin-right: 2%;
}

.icone{
    position: absolute;
    right: 89px;
}

.hotelpop{
    display: flex;
    flex-direction: column;
}

.formepop{
    width: 340px;
    background-color:white;
    height: 140px;
    border-radius: 10px;
    position: relative;
    padding: 7px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.formepop img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.formepop .descriptionpop{
    position: absolute;
    bottom: 7px;
    background-color: white;
    width: 57%;
    height: 91%;
    display: inline-block;
    left: 37%;
    padding-left: 15px;
}

.descriptionpop h3{
    margin: 0;
    font-size: 15px;
    padding-top: 5px;
}

.formepop .descriptionpop p{
    margin-bottom: 34%;
    font-size: 13px;
}

.explore{
    display: flex;
    justify-content: space-around;
}


        /*Activités*/

.acti1{
    background-image: url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    width: 300px;
    height: 445px;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}

.acti1 .description{
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 55px;
    border-radius: 0 0 15px 15px;
}

.description h4{
    font-size: 15px;
    margin: 0;
    padding-left: 12px;
    padding-top: 17px;
}

.groupe{
    display: flex;
    flex-direction: column;
}

.acti2{
    background-image: url(images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 300px;
    height: 235px;
    position: relative;
}

.acti2 .description{
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 55px;
    border-radius: 0 0 15px 15px;
}

.acti3{
    background-image: url(images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 300px;
    height: 163px;
    margin-top: 47px;
    position: relative;
}

.acti3 .description{
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 55px;
    border-radius: 0 0 15px 15px;
}

.acti4{
    background-image: url(images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    width: 300px;
    height: 445px;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}

.acti4 .description{
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 55px;
    border-radius: 0 0 15px 15px;
}

.acti5{
    background-image: url(images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 300px;
    height: 163px;
    position: relative;
}

.acti5 .description{
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 55px;
    border-radius: 0 0 15px 15px;
}

.acti6{
    background-image: url(images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 300px;
    height: 235px;
    margin-top: 47px;
    position: relative;
}

.acti6 .description{
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 55px;
    border-radius: 0 0 15px 15px;
}


        /*Footer*/

footer{
    display: flex;
    background-color:#F2F2F2 ;
    margin-top: 58px;
}

.apropos{
    flex: 1;
    margin-left: 32px;
}

.noshebergements{
    flex: 1;
}

.assistance{
    flex: 1;
}

footer ul li{
    margin-bottom: 6px;
}

footer ul {
    padding: 0;
}

h6{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 19px;
}