@font-face {
    font-family: "mafont";
    src: url("fonts/Raleway-VariableFont_wght.ttf");
}

body{
    font-family: "mafont";
}

header{
    display: flex;
}

#logo{
    width: 100%;
}

nav{
    width: 30%;
    display: flex;

}

.menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul{
    list-style: none;
}

.color:hover{
    color: #0065FC;
    border-top: #0065FC 1px solid;
}

a{
    text-decoration: none;
    color: black;
}

.link{
    color: #0065FC;
    font-weight: bold;
}

h3{
    font-weight: bold;
}

.search{
    display: flex;
}

input{
    width: 235px;
    height: 28px;
}

.recherche{
    background-color: #0065FC;
    color: white;
    border-radius: 0 5px 5px 0;
}

#filtre{
 margin-top: 20px;
 font-weight: bold;
}

.btn{
    color:#0065FC ;
    position: absolute;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.filtre{
    position: relative;
    background-color: white;
    width: 150px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
}




/* Hébergements*/

#article{
    display: flex;
    justify-content: space-between;
}

.logement{
    background-color: #F2F2F2;
    padding: 25px 10px 25px 10px;
    border-radius: 15px;
    margin-left: 3%;
}

.note{
    font-size: 9px;
    color:#0065FC ;
}

    /*Section*/

.hotel{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.forme{
    width: 200px;
    background-color:white;
    height: 150px;
    border-radius: 10px;
    position: relative;
    padding: 7px;
    margin-bottom: 20px;
}

.forme .description{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 94%;
    height: 35%;
}

.description h3{
    margin: 0;
    font-size: 15px;
    padding-top: 5px;
}

.forme img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.forme .description p{
    margin: 3px 0;
    font-size: 12px;
}

    /*Aside*/

aside{
    margin-left: 44px;
    width: 45%;
    margin-right: 2%;
}

.hotelpop{
    display: flex;
    flex-direction: column;
}

.formepop{
    width: 340px;
    background-color:white;
    height: 140px;
    border-radius: 10px;
    position: relative;
    padding: 7px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.formepop img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.formepop .descriptionpop{
    position: absolute;
    bottom: 7px;
    background-color: white;
    width: 57%;
    height: 91%;
    display: inline-block;
    left: 37%;
    padding-left: 15px;
}

.descriptionpop h3{
    margin: 0;
    font-size: 15px;
    padding-top: 5px;
}

.formepop .descriptionpop p{
    margin-bottom: 34%;
    font-size: 13px;
}